<span
  [routerLink]="[index]"
  routerLinkActive="actip"
  type="button"
  class="card m-2 p-3"
  style="border-radius: 10px;-webkit-box-shadow: 0px 3px 17px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px 3px 17px 0px rgba(235,235,235,1);
    box-shadow: 0px 3px 17px 0px rgba(235,235,235,1);"
   >
  <span class="d-flex justify-content-center">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 50px;">
  </span>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
</span>
