<div class="row">
  <div class="col-xl-12">
    <!-- shopping list mengguanakan Tamplate Driven Form -->
    <form  (ngSubmit)="onSubmit(dataShopping)" #dataShopping="ngForm">
      <div class="row">
        <div class="col-xl-8 form-group">
          <label for="name">Nama</label>
          <input
            type="text"
            id="name"
            class="form-control"
            required
            name="name"
            ngModel>
        </div>
        <div class="col-xl-4 form-group">
          <label for="amount">Jumlah</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            required
            name="amount"
            ngModel
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!dataShopping.valid">
            {{editMode ? 'Update': 'Tambah'}}
          </button>
          <button class="btn" type="button" (click)="onClear()"><i class="fas fa-history text-warning"></i></button>
          <button class="btn" type="button" (click)="onDelete()" *ngIf="editMode">
          <i class="fas fa-trash text-danger"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
